// Color Variables
// =========================

$color-1:     #000;
$color-2:     #FFF;
$color-3:     #CCC;


// Color Mixins
// =========================

@mixin generate-color-utility() {
  // ...
}

/* ===== OUTPUT ====
.color-1 {
  color: $color-1;
}
.color-2 {
  color: $color-2;
}
.color-3 {
  color: $color-3;
}
*/